<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <a class=" navbar-logo" href="https://documentation.suse.com/"><img class="logo"
            src="{{uiRootPath}}/img/logo.svg" alt="fleet logo"/></a> 
        <b class="navbar__title text--truncate">Fleet</b></a></div>
      </div>
{{#if page.attributes.draft-preview-only}}
  <div class="draft-banner">&nbsp;&nbsp;&nbsp;DRAFT PREVIEW ONLY!</div>
{{/if}}
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <label class="visual-search-label" for="search-input">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
          <input label="Search" aria-label="Search" id="search-input" type="text" placeholder="Search the docs" {{#if page.home}} autofocus{{/if}}>
          <label class="filter checkbox" style="display: none">
            <input type="checkbox" data-facet-filter="component:{{page.component.name}}" checked> Only this project
          </label>
        </div>
      </div>
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">
            <img src="{{uiRootPath}}/img/github_logo.svg" class="langIcon Resurces" alt="Resources" title="Resources">
          </div>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://github.com/rancher/fleet"><i
                class="fab fa-github"></i>&nbsp;Fleet&nbsp;<i class="fas fa-external-link-alt"></i></a>
            <a class="navbar-item" href="https://github.com/rancher/fleet-product-docs"><i
                class="fab fa-github"></i>&nbsp;Fleet docs&nbsp;<i class="fas fa-external-link-alt"></i></a>
          </div>
        </div>
        <a href="https://rancher-users.slack.com/channels/fleet"
           target="_blank"
           rel="noopener noreferrer"
           class="navbar-item header-slack-link"
           aria-label="Slack Channel">
          <img src="{{uiRootPath}}/img/slack.svg"
               alt="Slack"
               class="slack-icon" />
        </a>
        <a href="https://rancher-users.slack.com/channels/fleet" target="_blank" rel="noopener noreferrer" class="navbar__item navbar__link header-slack-link" aria-label="Slack Channel"></a>
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link"><img src="{{uiRootPath}}/img/language.png" class="langIcon Language" alt="Language"
              title="Language"></div>
          <div class="navbar-dropdown">
            <!--  </div><div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
            {{#each (languagelist page.navigation uiRootPath)}}
              <a role="button" class="navbar-item" id="{{./id}}" onclick="selectLanguage(this.id)">
                <!--<img src="{{./uiRootPath}}/img/{{./image}}" class="langIcon {{./class}}">-->
                &nbsp;{{./label}}
              </a>
            {{/each}}
            <!-- LANGUAGESELECTOR -->
          </div>
        </div>
        <!--
        <div class="navbar-item">
          <a href="https://twitter.com/SUSE">
            <img alt="X-logo" class="x-logo" src="{{uiRootPath}}/img/x-logo-white.png">
          </a>
        </div>
        -->
      </div>
    </div>

    <!--   <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">

        </div>
        <div class="navbar-item">
          <span class="control">
          </span>
        </div>
        <div class="navbar-item">
          <span class="control">
          </span>
        </div>
        <div class="navbar-item">
          <span class="control">
          </span>
        </div>
        <div class="navbar-item">
          <span class="control">
          </span>
        </div>
      </div> -->
    </div>
  </nav>
</header>
